@import  'src/styles.scss';

.page-post {
  display: block;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 1%;
  //width: 1280px;
}

.page-post-text {
  padding: 2px;
  padding-bottom: 100px;
}

.page-post-title{
  //padding-top: 50px;
  padding-bottom: 5px;
  @include adaptiv-front(30, 15);
 // margin-bottom: 1%;
  margin: 0 auto;
  
}
.page-post-date{
  @include adaptiv-front(20, 12);
  margin: 0 auto;
  padding-bottom: 10px;
}
.img-container{
 // margin-top: 1%;
  margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 15px;
}
img{
  margin-left:0 auto;
  margin-right:0 auto;
  object-fit: cover;
 
}

@media (min-width:1200px) {
  .page-post-text {
    margin: 0 auto;
    width: 700px;
  }
  .page-post-title{
    width: 700px;
  }
  img {
    width: 700px;
    height: 421px;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .page-post-text {
    margin: 0 auto;
    width: 600px;
  }
  .page-post-title{
    width: 600px;
  }
  img {
    width: 600px;
    height: 361px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .page-post-text {
    margin: 0 auto;
    width: 500px;
  }
  .page-post-title{
    width: 500px;
  }
  img {
    width: 500px;
    height: 301px;
  }
}

@media (max-width:767px){
  .page-post-text {
    margin: 0 auto;
    width: 400px;
  }
  .page-post-title{
    width: 400px;
  }
  img {
    width: 400px;
    height: 240px;
  }
}

@media (max-width:480px){
  .page-post-text {
    margin: 0 auto;
    width: 320px;
  }
  .page-post-title{
    width: 320px;
  }
  img {
    width: 320px;
    height: 192px;
  }
}

@media (max-width:320px){
  .page-post-text {
    margin: 0 auto;
    width: 240px;
  }
  .page-post-title{
    width: 240px;
  }
  img {
    width: 240px;
    height: 144px;
  }
}
