<app-header> </app-header>

<div>
  
    <div class="container"> 
        <div class='container-card-one'>
            <p class='container-about-title'> <b>Возраст:</b> 21 </p>
            <p class='container-about-title'> <b> Д/р: </b> 29/09</p>
            <p class='container-about-title'> <b> Знак зодиака: </b> весы </p>
            <p class='container-about-title'> <b> Рост: </b> 177 см </p>

             <p class='container-about-title'> <b> Коротко о личности: </b> 
               <br> вижу цель, не вижу препятсвий </p>
            <p class='container-about-title'> <b> Убеждения: </b> 
                <br> арбуз лучше дыни, но дыня лучше киви </p>
            <p class='container-about-title'> <b> Люблю: </b> 
                <br> бокс, мат, котиков и аниме </p>
            <p class='container-about-title'> <b> Не люблю: </b> 
                <br> конфликты, тупых людей и тупые конфликты из-за тупых людей.
            </p>
            <p class='container-about-title'> <b> Характер: </b> 
                <br> решительная, отзывчивая, прямолинейная, импульсивная, эмоциональная,
                требовательная, резкая, занудливая, привередливая, справедливая, 
                пессиместичная
            </p>
            
        </div>

    </div>
       
   <div class='footer'>
        <app-footer>  </app-footer>
   </div>

</div>
 

