img{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.footer {
    //clear: both;
    padding: 20px;
    position: relative;
   //position: fixed; /* Фиксированное положение */
      bottom: 0; /* Левый нижний угол */
   // justify-content: center;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
   // height: 200px;
  //  top: 85%;
   // left: 0;
   // right: 0;
  // margin-top: -10px;
    margin-top: -50px;
  }